{% extends "base2.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    {{ position.name }}
    <a href="{% url 'task_manager:position-delete' pk=position.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'task_manager:position-update' pk=position.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

<h2>Workers with This Position</h2>
  {% if position.worker_set.all %}
  <ul>
    {% for worker in position.worker_set.all %}
      <li>
        <a href="{% url 'task_manager:worker-detail' pk=worker.id %}">
          {{ worker.username }}
        </a> - {{ worker.first_name }} {{ worker.last_name }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No workers are assigned to this position.</p>
{% endif %}

{% endblock %}
