{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task List
    <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary link-to-page">
      Create New Task
    </a>
  </h1>

  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>

  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <!-- Redirect to task_detail view when clicking task name -->
          <a href="{% url 'task_manager:task-detail' pk=task.id %}">
            {{ task.name }}
          </a>
          - Priority: {{ task.priority }} (Deadline: {{ task.deadline }})<br>
          Assigned Workers:
          {% for worker in task.assignees.all %}
            <a href="{% url 'task_manager:worker-detail' pk=worker.id %}">
              {{ worker.username }}
            </a>{% if not forloop.last %}, {% endif %}
          {% empty %}
            No workers assigned
          {% endfor %}

        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks available.</p>
  {% endif %}
{% endblock %}
